<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
<style>
body { background: #333; color: #eee; }

.lyric {
  position: relative;
  white-space: nowrap;
  color: lightblue;
  text-shadow: 0 0 3px rgba(0,0,0,1); 
}

.lyric::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  color: red;
  overflow: hidden;
  width: 40%;
  /* animation: run-text 5s infinite linear; */
  text-shadow: 0 0 3px rgba(255,255,255,1); 
}

@keyframes run-text {
  from { width: 0 }
  to { width: 100% }
}

</style>
</head>
<body>
    <div id="app" class="container">
        blah
        <div v-if="state == 'init'">
            <div>
                Enter a nickname:
                <input type="text" v-model="nickname" />
                <button v-on:click="start">Start!</button>
            </div>
        </div>
        <div v-if="state == 'home'">
            <div>{{nickname}}</div>
            <div>
                <input type="text" v-model="search" />
            </div>
            <div>
                <ul>
                    <li v-for="song in songResults">
                        <strong>{{ song.title }}</strong>
                        <em>{{ song.artist }}</em>
                        <button v-on:click="enqueue(song)">Sing it!</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script src="js/vue.js" language="javascript"></script>
    <script src="js/util.js" language="javascript"></script>
    <script src="js/singer.js" language="javascript"></script>
</body>
</html>